.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 0.5px solid var(--primary-color-alt);
}
.navbar-icon {
  height: 2.5em;
}
.navbar-middle h1 {
  font-size: 2rem;
  margin: 0;
}
